/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}

img {
  max-width: 100%;
  max-height:100%;
  border-radius: 10px;
}

.main-container {
  background-color:white;
  display:flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 800px){
  .main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.nav {
  position: sticky;
  top: 20px;  
  display: flex;
  flex-direction: column;
  background-color: #5bc0be;
  color: #22283B;
  width: 100%;
  border-radius: 10px;
  margin: 3px auto;
}

.nav nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav a {
  display: flex;
  justify-content: center;
  margin: 12px auto;
  width: 100%;
  font-size: 1.6rem;
  text-decoration: none;
  color:  #22283B;
  align-content: space-between;
}

h1{
  padding-bottom: 20px;
  text-align: flex-start;
  padding-top: 20px;
}
.top-content{
  display: flex;
  flex-wrap: wrap;  
}

.top-text{
  width: 45%;
  margin: 5px auto;  
  text-align: flex-start;
  padding-top: 20px;
}


.img-top{
  position: relative;
  width: 45%;
  height: auto;
  margin: 5px auto;
  padding-top: 40px;  
}

.mid-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
}

.mid-text{
  width: 45%;
  margin: 5px auto;  
  text-align: flex-start;
  padding-top: 40px;
}

.mid-text h1{
  text-align: center;
}

.img-mid{
  position: relative;
  width: 45%;
  height: auto;
  margin: 5px auto;
  padding-top: 40px;  
}

.phone-content{
  display: flex;
  flex-wrap: wrap;
}

.text-phone{
  width: 45%;
  margin: 5px auto;
  text-align :flex-start;
}

.img-phone{
  border-radius: 10px;
  position: relative;
  width: 45%;
  height: auto;
  margin: 5px auto;
}

.about-us{
  width: 100%;
  margin: 5px auto;  
  text-align: flex-start;
  padding-top: 40px;
}

.about-us h1{
  background-color: #5bc0be;
  border-radius: 10px;
  padding-top: 20px;
  width: 100%;
  text-align:center;
}
h2 {
  padding-bottom: 2%;
  padding-top: 2%;
  margin: 1%;

}
h3{
  padding-bottom: 2%;
  margin: 1%;
  color: #5bc0be;
}
.contact{
  font-size: 2rem;
  width: 45%;
  margin: 5px auto;  
  text-align: flex-start;
  padding-top: 20px;
  align-self: center;
}

.about-us{
  display: block;
  width: 80%;
  margin: 5px auto;  
  text-align: flex-start;
  padding-top: 20px;
  margin-top: 20px;
}

.logo{
  width:200px;
  height: auto;
  border-radius: 10px;  
  max-width: 100%;
  max-height: 100%;
}
footer {
  width: 100%;
  height: 90px;
  color: #5bc0be;
  background: #22283B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media ( max-width:800px ) {
  header{   
    width: 100%;
    display: flex;
  }
  .img-top{
    width: 100%;
    height: auto;
    padding-top: 40px;  
  }
  .top-text{
    width: 85%;
    text-align: flex-start;   
  }
  .top-text  h1{
    text-align: center;
  }
  .mid-text{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: flex-start;
  }  
  .img-phone {
    width: 60%;
  }
  .text-phone{
    width: 85%;
    text-align: flex-start;
  }  
}

@media ( max-width:500px ) {
  header{
    width: 100%
  }
  nav{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;       
  }
  .logo{
    width: 250px;
    height: auto;
  }
  .top-content{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    text-align: flex-start;
  }
  .mid-content{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
   
  }
  .phone-content{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: flex-start;
    width: 100%;
    text-align: center;
  }
  .img-top{
    display: none;;
  }
  
  .mid-text{
    width: 90%;
  }
  .img-mid{
    width: 100%;
    height: auto;
  }
  .img-phone{
    width: 80%;
  }
  h1{
    width: 100%;
    margin: 5px auto;
  }
}



